<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="random" class="java.util.Random"/>
    
    <bean id="storage" class="study.storage.Storage">
    </bean>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <bean id="eventDAO" class="study.dao.impl.EventDAOImpl"
          p:storage-ref="storage"
          p:random-ref="random">
    </bean>
    <bean id="ticketDAO" class="study.dao.impl.TicketDAOImpl"
          p:storage-ref="storage"
          p:random-ref="random">
    </bean>
    <bean id="userDAO" class="study.dao.impl.UserDAOImpl"
          p:storage-ref="storage"
          p:random-ref="random">
    </bean>

    <bean id="eventService" class="study.service.impl.EventServiceImpl" autowire="byType">
    </bean>
    <bean id="userService" class="study.service.impl.UserServiceImpl" autowire="byType">
    </bean>
    <bean id="ticketService" class="study.service.impl.TicketServiceImpl" autowire="byType"
          p:eventService-ref="eventService"
          p:userService-ref="userService">
    </bean>

    <bean id="facade" class="study.facade.impl.BookingFacadeImpl">
        <constructor-arg index="0" ref="eventService"/>
        <constructor-arg index="1" ref="ticketService"/>
        <constructor-arg index="2" ref="userService"/>
    </bean>
</beans>